---
layout: home
---
<div class="user-details">
<h2> Me and this website </h2>
<p style="text-align: justify;"> I am studying for my doctorate at Xidian University majoring in computer science and technology now. I built this website to share the interesting theories during the postgraduate and doctoral study period. </p>
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Visit </h3>
	<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=93QowJpDzYdfixVZiq6Ms-aiUS9k7X700bVEvw72jA4&cl=ffffff&w=a"></script>
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div>
</div><div class="permlinks">
<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="404.html">Full Posts List</a> </p>
</dl>

<h2>Upcoming Posts (edit me at /index.html )</h2>
<ul>
	<li>Influence Maximization</li>
	<li>Neural Network Architecture Search</li>
</ul>

</div >
